.app {
    display: flex;
}

.controlView {
    flex: 1;
    padding: 2em;
    position: relative;
}

.fixed {
    width: 100%;
}

.membersTable {
    border-collapse: collapse;
}

.membersTable td,
.membersTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.membersTable tbody tr {
    cursor: pointer;
}

.membersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.membersTable tbody tr:hover {
    background-color: #ddd;
    opacity: 1;
}

.registeredMemberRow {
    opacity: 0.2;
}

.memberCard td:first-child {
    padding-right: 4em;
}

.selectedMemberRow {
    background-color: rgba(255, 255, 200) !important;
    opacity: 1;
}

#memberEmailInput {
    width: calc(100% - 2em);
    padding: 1em;
    font-size: 1.2em;
}

.membersList {
    overflow-y: scroll;
    height: 100vh;
}

canvas {
    margin: 2em 0;
    zoom: 0.5;
}


input[type=button] {
    font-size: 1em;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: rgba(200, 0, 0, 0.7);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    cursor: pointer;
    border: none;
}

input[type=button]:active {
    top: 0.1em;
}

input[type=button]:focus {
    outline: none;
}

@media all and (max-width:30em) {
    input[type=button] {
        display: block;
        margin: 0.4em auto;
    }
}

thead th {
    position: sticky; top: 0; 
    background-color: white;
    border-bottom: 1px solid #ddd;
}